body {
    background: linear-gradient(to right, #073A53, #073A53, #959596);
    height: 92vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #d6d6ea;
    text-align: center;
    overflow: hidden;
    font-family: 'adventure', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

@font-face {
    font-family: adventure;
    src: url(../fonts/Adventure.otf);
}

@keyframes slide {
    0% {
        background-position-x: 100%;
    }

    100% {
        background-position: 400%;
    }
}

@keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.container-aplicativo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#informacoes-faixa {
    width: 100%;
    margin: 30px 0 50px 0;
}

#faixa {
    margin: 9px;
}

.spinner {
    width: 70px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    margin: 10px 0 0 0;
}

.spinner>div {
    background-color: #fff;
    height: 100%;
    width: 10px;
    display: inline-block;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

#proximo {
    transition: 0.2s ease-in-out;
}

#proximo:hover {
    transform: scale(1.2);
}

#anterior {
    transition: 0.2s ease-in-out;
}

#anterior:hover {
    transform: scale(1.2);
}

#play-pause {
    transition: 0.2s ease-in-out;
}

#play-pause:hover {
    transform: scale(1.2);
}

#capa {
    width: 300px;
    height: 300px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

button {
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
}

.music-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#informacoes-faixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}


#anterior,
#proximo {
    font-size: 3rem;
}

#play-pause {
    font-size: 4rem;
}

#container-botoes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#play-pause {
    width: 100px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#play-pause:hover {
    transform: scale(1.2);
}