body {
    background-color: #073A53;
    color: #BFC4C5;
    height: 92vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-family: 'adventure', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    transition: 0.6s ease-in-out;
}

@font-face {
    font-family: adventure;
    src: url(../fonts/Adventure.otf);
}

.container-aplicativo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#faixa {
    font-size: 30px;
    letter-spacing: 10px;
    margin: 30px 0;
}

#nome-author {
    font-size: 25px;
}

#capa {
    width: 300px;
    height: 300px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

button {
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
}

#container-botoes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#anterior,
#proximo {
    font-size: 3rem;
}

#play-pause {
    font-size: 4rem;
    width: 100px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#play-pause:hover {
    transform: scale(1.2);
}